name: "Close stale issues and PRs"

on:
  schedule:
    - cron: '00 4 * * *'
  workflow_dispatch:

permissions:
  actions: write
  issues: write
  pull-requests: write

jobs:
  stale:
    name: Stale
    uses: cumbucadev/shared-workflows/.github/workflows/close-stale-issues-v1.yml@main
